:root{
    --bs-primary: #ff9800!important;
    --bs-secondary: #2C7865!important;
}
*{
    font-family: "Poppins", sans-serif;
}
body {
    color: aliceblue!important;   
    background-color: #000!important;
}
body p {
    margin-bottom: 0!important;
}
.btn-login {
    border-radius: 5px!important;
    background: var(--bs-primary)!important;
    /* padding: 0.3rem 2.5rem 0.3rem 2.5rem!important; */
}
.btn-submit {
    /* border-radius: 5px!important; */
    background: var(--bs-primary)!important;
    padding: 0.5rem 2rem 0.5rem 2rem!important;
}
.nav-link{
    color: aliceblue!important;
}
/* about 1 */
#about-1 {
    min-height: 100dvh;
    margin: -2.5rem auto;
    display: flex;
    opacity: 100%;
    align-items: center;
}
.bg-grunge{
    content: ' ';
    display: block;
    position: fixed;
    /* left: 0;
    top: 0; */
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-image: url(../../images/dark-grunge-texture.jpg);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
#about-1 img{
    width: auto;
    height: clamp(17rem, 30vw, 100rem);
    filter: drop-shadow(0 0 25px rgb(255, 152, 0,0.35));
}
#about-1 .title{
    font-weight: 800;
}
#about-1 .title span{
    color: var(--bs-primary);
}
#about-1 .desc{
    font-weight: 300;
}
#about-1 .desc span{
    font-weight: 700;
}
#about-1 .btn{
    font-weight: 500;
    color: aliceblue;
    border: 1px solid aliceblue;
    transition: 0.5s ease;
}
#about-1 .btn:hover{
    font-weight: 500;
    color: var(--bs-primary);
    background: aliceblue;
    border: 1px solid aliceblue;
}
/* about 2 */
#about-2 {
    min-height: 100dvh;
    display: flex;
    align-items: center;
}
#about-2 img{
    width: auto;
    height: clamp(20rem, 40vw, 100rem);
    filter: drop-shadow(0 0 25px rgb(255, 152, 0,0.35));
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#about-2 .title{
    font-weight: 800;
}
#about-2 .title span{
    color: var(--bs-primary);
}
#about-2 .desc{
    font-weight: 300;
}
#about-2 .desc span{
    font-weight: 700;
}
#about-2 .btn{
    font-weight: 500;
    color: aliceblue;
    border: 1px solid aliceblue;
    transition: 0.5s ease;
}
#about-2 .btn:hover{
    font-weight: 500;
    color: var(--bs-primary);
    background: aliceblue;
    border: 1px solid aliceblue;
}
/* about 3 */
#about-3 {
    min-height: 100dvh;
    display: flex;
    align-items: center;
}
#about-3 img{
    width: auto;
    height: clamp(17rem, 30vw, 100rem);
    filter: drop-shadow(0 0 25px rgb(255, 152, 0,0.35));
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#about-3 .title{
    font-weight: 800;
}
#about-3 .title span{
    color: var(--bs-primary);
}
#about-3 .desc{
    font-weight: 300;
}
#about-3 .desc span{
    font-weight: 700;
}
#about-3 .btn{
    font-weight: 500;
    color: aliceblue;
    border: 1px solid aliceblue;
    transition: 0.5s ease;
}
#about-3 .btn:hover{
    font-weight: 500;
    color: var(--bs-primary);
    background: aliceblue;
    border: 1px solid aliceblue;
}
#menu {
    min-height: 100dvh;
    display: flex;
    align-items: center;
}
#menu .title{
    text-align: center;
    font-weight: 800;
}
#menu .title span{
    color: var(--bs-primary);
}
#menu .desc{
    text-align: center;
    padding: 0 15rem;
    font-weight: 300;
}
#menu .desc span{
    font-weight: 700;
}
#order {
    min-height: 100dvh;
    margin: auto 25rem;
    display: flex;
    align-items: center;
}
.form-control {
    border: 2px solid #2d2d2d!important;
}

@media (max-width: 998px) {
    #order {
        margin: auto 1rem;
    }
    .title {
        text-align: center;
    }
    .desc {
        text-align: center;
    }
    #about-2 img{
        -webkit-transform: rotate(-90deg);
        transform:rotate(-90deg);
    }
    #menu .desc{
        text-align: center;
        padding: 0 0;
    }
}